* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

h1 {
  font-size: 2em;
}

html {
  background-color: rgb(32, 33, 36);
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

header {
  position: relative;
  top: 0px;
  height: 67px;
  text-align: center;
  color: white;
  padding: 70px 20px 20px 20px;
}

main {
  text-align: center;
  /* padding: 20px; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main > div {
  margin: 5px;
  color: white;
}

#groupContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
}

.group {
  margin: 30px auto;
  background-color: #292a2d;
  /* padding: 60px; */
  display: flex;
  flex-direction: column;
  max-width: 95%;
  box-sizing: border-box;
  padding: 10px;
  align-items: center;
}

@media screen and (min-width: 800px) {
  #groupContainer {
    padding: 40px;
  }
  .group {
    padding: 60px;
    box-sizing: content-box;
  }
}

.countryOption > select {
  margin: 5px 0;
}

.countryOption > button {
  margin: 5px 0;
}

.group:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.groupChild {
  margin: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.round-corners {
  border-radius: 10px;
}

.watchList {
  list-style: none;
}

.graph-wrapper {
  min-height: 300px;
}

@media screen and (min-width: 800px) {
  .graph-wrapper {
    min-height: 400px;
    width: 300px;
  }
}

.graph {
  background: rgb(255, 255, 255);
  margin: 0 auto;
  width: 200px;
  min-height: 300px;
}

.shadow {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

footer {
  position: relative;
  bottom: 0px;
  height: 33px;
  text-align: center;
  padding: 20px;
  color: white;
}

#optionsDiv {
  position: fixed;
  right: 10px;
  bottom: 80px;
}

#timeFrame {
  text-align: center;
  max-width: 150px;
}

@media screen and (min-width: 800px) {
  #timeFrame {
    width: 300px;
  }
}

select {
  padding: 10px;
}

button {
  padding: 10px;
}

#addGroup {
  position: fixed;
  bottom: 20px;
  right: 20px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: white;
  z-index: 100;
}

.countryList {
  min-width: 200px;
}

.selectStyle {
  max-width: 50%;
}

.visible {
  visibility: visible;
}

.invisible {
  visibility: hidden;
}

.tempDiv {
  border: 1px black solid;
}

.noDataCountry {
  background-color: red;
  color: black;
}
